*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body,html{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.page{
    width: 1200px;
    margin:100px auto;
}
.page #wall{
   height: 500px;
   border: 1px solid #999;
   border-radius:10px;
   position: relative;
   overflow: hidden;
}
.add{
    /* margin-top: 20px; */
}
.add_input,.add_btns{
    width: 400px;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.add_input input{
    width: 100%;
    height: 100%;
}
.add_btns button{
    width: 150px;
    height: 40px;
    cursor: pointer;
}
.dom{
    width: 100%;
    height: 100%;
    
}
.text {
    position: absolute;
    /* width: 100%; */
}